# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/

# Coverage
coverage_html/
.coverage
htmlcov/

# Azure Functions
local.settings.json
.python_packages/

# Terraform
infra/.terraform/
infra/*.tfstate*
infra/.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Secrets
.env
*.pem
